{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title -->
    <title>ArtsConnect| Museum, Art Gallery & Exhibition Website</title>

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'assets/images/favicon.ico' %}"
    />

    <!-- Font-Awesome (CSS) -->
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/font-awesome/css/all.min.css' %}"
    />

    <!-- Magnific-Popup (CSS) -->
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/magnific-popup/magnific-popup.css' %}"
    />

    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <!-- Swiper (CSS) -->
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/swiper/swiper-bundle.min.css' %}"
    />

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />
  </head>

  <body>
    <!-- ==================== Scroll-Top Area (Start) ==================== -->
    <a href="#" class="scroll-top">
      <i class="fa-solid fa-arrow-up-long"></i>
    </a>
    <!-- ==================== Scroll-Top Area (End) ==================== -->

    <!-- ==================== Header Area (Start) ==================== -->
    <header class="header">
      <!-- ===== Header-1 Area (Start) ===== -->
      <div class="header-1">
        <!-- == Contacts == -->
        <ul class="header-contacts">
          <li>
            <i class="fa-solid fa-location-dot"></i><span>ArtsConnect</span>
          </li>
          <li>
            <i class="fa-solid fa-phone"></i><span>+256 755 894 172</span>
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i
            ><span class="gmail">infor@artisconnect.com</span>
          </li>
        </ul>

        <!-- == Social == -->
        <ul class="social-contacts">
          <li><a href="#" class="fab fa-facebook-f"></a></li>
          <li><a href="#" class="fa-brands fa-x-twitter"></a></li>
          <li><a href="#" class="fab fa-instagram"></a></li>
          <li><a href="#" class="fab fa-linkedin"></a></li>
        </ul>
      </div>
      <!-- ===== Header-1 Area (End) ===== -->

      <!-- ===== Header-2 Area (Start) ===== -->
      <div class="header-2">
        <!-- == Logo == -->
        <a class="logo" href="{%url 'home' %}">
          <img src="{% static '/assets/images/Logo/Logo.png' %}" alt="logo" />
        </a>

        <div class="container">
          <!-- == Navbar == -->
          <nav class="navbar">
            <a class="nav-btn" href="{%url 'home' %}">home</a>

            <div class="dropdown-menu">
              <button class="nav-btn">about</button>
              <div class="dropdown-content">
                <a href="{% url 'about_us' %}">about us</a>
                <a href="pages/About/Team.html">Team</a>
                <a href="pages/About/Team-Single.html">Team Single</a>
                <a href="pages/About/Testimonials.html">testimonials</a>
                <a href="pages/About/FAQs.html">FAQs</a>
              </div>
            </div>

            <div class="dropdown-menu">
              <button class="nav-btn">Exhibition</button>
              <div class="dropdown-content">
                <a href="pages/Exhibition/Exhibitions.html">Exhibitions</a>
                <a href="pages/Exhibition/Exhibition-Single.html"
                  >Exhibition Single</a
                >
              </div>
            </div>

            <div class="dropdown-menu">
              <button class="nav-btn">Collection</button>
              <div class="dropdown-content">
                <a href="pages/Collection/Collection-Category.html"
                  >Collection Category</a
                >
                <a href="pages/Collection/Collections.html">Collections</a>
                <a href="pages/Collection/Collection-Single.html"
                  >Collection Single</a
                >
              </div>
            </div>

            <div class="dropdown-menu">
              <button class="nav-btn">shop</button>
              <div class="dropdown-content">
                <a href="pages/Shop/Shop-Grid.html">shop grid</a>
                <a href="pages/Shop/Shop-List.html">shop list</a>
                <a href="pages/Shop/Product-Single.html">product Single</a>
                <a href="pages/Shop/Wishlist.html">wishlist</a>
                <a href="pages/Shop/Cart.html">cart</a>
                <a href="pages/Shop/Checkout.html">checkout</a>
                <a href="pages/Shop/Login.html">login</a>
                <a href="pages/Shop/Register.html">register</a>
                <a href="pages/Shop/Reset-Password.html">forgot Password</a>
              </div>
            </div>

            <a class="nav-btn" href="pages/Contact/Contact.html">contact</a>
          </nav>

          <!-- == Icon Container == -->
          <div class="icon-container">
            <div
              id="search-btn"
              class="icon fa-solid fa-magnifying-glass"
            ></div>
            <!-- Search Icon -->
            <div id="menu-btn" class="icon fa-solid fa-bars-staggered"></div>
            <a href="{% url 'get_started' %}" class="btn">Get Started</a>
          </div>

          <!-- == Search Container == -->
          <form class="search-container">
            <input
              type="search"
              id="search-bar"
              placeholder="search here"
              required
            />
            <!-- Search Input -->
            <button type="submit"><i class="fas fa-search"></i></button>
            <!-- Submit Button -->
          </form>
        </div>
      </div>
      <!-- ===== Header-2 Area (End) ===== -->

      <!-- ===== Mobile Menu Area (Start) ===== -->
      <div class="mobile-menu">
        <nav class="mobile-navbar">
          <div class="nav-link">
            <div class="main-nav-link">
              <a class="nav-btn" href="{%url 'home' %}">home</a>
            </div>
          </div>

          <div class="nav-link">
            <div class="main-nav-link">
              <div class="nav-btn">about</div>
              <i class="fas fa-plus"></i>
            </div>
            <div class="sub-nav-link">
              <a href="pages/About/About.html">about us</a>
              <a href="pages/About/Team.html">Team</a>
              <a href="pages/About/Team-Single.html">Team Single</a>
              <a href="pages/About/Testimonials.html">testimonials</a>
              <a href="pages/About/FAQs.html">FAQs</a>
            </div>
          </div>

          <div class="nav-link">
            <div class="main-nav-link">
              <div class="nav-btn">pages</div>
              <i class="fas fa-plus"></i>
            </div>
            <div class="sub-nav-link">
              <a href="pages/Pages/Gallery.html">Gallery</a>
              <div class="nav-link">
                <div class="main-nav-link">
                  <div class="nav-btn">Event</div>
                  <i class="fas fa-plus"></i>
                </div>
                <div class="sub-nav-link">
                  <a href="pages/Pages/Events.html">Events</a>
                  <a href="pages/Pages/Event-Single.html">Events Single</a>
                </div>
              </div>
              <div class="nav-link">
                <div class="main-nav-link">
                  <div class="nav-btn">Career</div>
                  <i class="fas fa-plus"></i>
                </div>
                <div class="sub-nav-link">
                  <a href="pages/Pages/Careers.html">Careers</a>
                  <a href="pages/Pages/Career-Single.html">Career Single</a>
                </div>
              </div>
              <a href="pages/Pages/Membership.html">Membership</a>
              <div class="nav-link">
                <div class="main-nav-link">
                  <div class="nav-btn">Service</div>
                  <i class="fas fa-plus"></i>
                </div>
                <div class="sub-nav-link">
                  <a href="pages/Pages/Services.html">Services</a>
                  <a href="pages/Pages/Service-Single.html">Service Single</a>
                </div>
              </div>
              <div class="nav-link">
                <div class="main-nav-link">
                  <div class="nav-btn">Portfolio</div>
                  <i class="fas fa-plus"></i>
                </div>
                <div class="sub-nav-link">
                  <a href="pages/Pages/Portfolio.html">Portfolio</a>
                  <a href="pages/Pages/Portfolio-Single.html"
                    >Portfolio Single</a
                  >
                </div>
              </div>
              <div class="nav-link">
                <div class="main-nav-link">
                  <div class="nav-btn">Donation</div>
                  <i class="fas fa-plus"></i>
                </div>
                <div class="sub-nav-link">
                  <a href="pages/Pages/Donations.html">Donations</a>
                  <a href="pages/Pages/Donation-Single.html">Donation Single</a>
                </div>
              </div>
              <a href="pages/Pages/Donate.html">Donate</a>
              <a href="pages/Pages/Tickets.html">Tickets</a>
              <a href="pages/Pages/Partners.html">Partners</a>
            </div>
          </div>

          <div class="nav-link">
            <div class="main-nav-link">
              <div class="nav-btn">Exhibition</div>
              <i class="fas fa-plus"></i>
            </div>
            <div class="sub-nav-link">
              <a href="pages/Exhibition/Exhibitions.html">Exhibitions</a>
              <a href="pages/Exhibition/Exhibition-Single.html"
                >Exhibition Single</a
              >
            </div>
          </div>

          <div class="nav-link">
            <div class="main-nav-link">
              <div class="nav-btn">Collection</div>
              <i class="fas fa-plus"></i>
            </div>
            <div class="sub-nav-link">
              <a href="pages/Collection/Collection-Category.html"
                >Collection Category</a
              >
              <a href="pages/Collection/Collections.html">Collections</a>
              <a href="pages/Collection/Collection-Single.html"
                >Collection Single</a
              >
            </div>
          </div>

          <div class="nav-link">
            <div class="main-nav-link">
              <div class="nav-btn">blog</div>
              <i class="fas fa-plus"></i>
            </div>
            <div class="sub-nav-link">
              <a href="pages/Blog/Blog-Grid.html">blogs grid</a>
              <a href="pages/Blog/Blog-List.html">blogs list</a>
              <a href="pages/Blog/Blog-Single.html">blog Single</a>
            </div>
          </div>

          <div class="nav-link">
            <div class="main-nav-link">
              <div class="nav-btn">Shop</div>
              <i class="fas fa-plus"></i>
            </div>
            <div class="sub-nav-link">
              <a href="pages/Shop/Shop-Grid.html">shop grid</a>
              <a href="pages/Shop/Shop-List.html">shop list</a>
              <a href="pages/Shop/Product-Single.html">product Single</a>
              <a href="pages/Shop/Wishlist.html">wishlist</a>
              <a href="pages/Shop/Cart.html">cart</a>
              <a href="pages/Shop/Checkout.html">checkout</a>
              <a href="pages/Shop/Login.html">login</a>
              <a href="pages/Shop/Register.html">register</a>
              <a href="pages/Shop/Reset-Password.html">forgot Password</a>
            </div>
          </div>

          <div class="nav-link">
            <div class="main-nav-link">
              <a class="nav-btn" href="pages/Contact/Contact.html">contact</a>
            </div>
          </div>
        </nav>
      </div>
      <!-- ===== Mobile Menu Area (End) ===== -->
    </header>
    <!-- ==================== Header Area (End) ==================== -->
    <!-- ==================== Home-Slider Area (Start) ==================== -->
    <section class="home">
      <!-- Home Slider -->
      <div class="swiper-container home-slider">
        <div class="swiper-wrapper">
          <!-- Home Slide-1 -->
          <div class="swiper-slide home-item">
            <img src="assets/images/Home/Home-1.jpg" alt="Home Image" />
            <!-- Slide Image -->
            <div class="content">
              <div class="text">
                <h5>May 1, 2024 - May 24, 2024</h5>
                <!-- Slide Date -->
                <h3>Garden of Serenity: A Botanical Exploration</h3>
                <!-- Slide Heading -->
                <a href="pages/Exhibition/Exhibition-Single.html" class="btn"
                  >View Details</a
                >
                <!-- Detail Page Button -->
              </div>
            </div>
          </div>

          <!-- Home Slide-2 -->
          <div class="swiper-slide home-item">
            <img src="assets/images/Home/Home-2.jpg" alt="Home Image" />
            <!-- Slide Image -->
            <div class="content">
              <div class="text">
                <h5>May 1, 2024 - May 24, 2024</h5>
                <!-- Slide Date -->
                <h3>Lost Worlds: Archaeological Discoveries</h3>
                <!-- Slide Heading -->
                <a href="pages/Exhibition/Exhibition-Single.html" class="btn"
                  >View Details</a
                >
                <!-- Detail Page Button -->
              </div>
            </div>
          </div>

          <!-- Home Slide-3 -->
          <div class="swiper-slide home-item">
            <img src="assets/images/Home/Home-3.jpg" alt="Home Image" />
            <!-- Slide Image -->
            <div class="content">
              <div class="text">
                <h5>May 1, 2024 - May 24, 2024</h5>
                <!-- Slide Date -->
                <h3>Artistry in Motion: Modern Sculpture Exhibition</h3>
                <!-- Slide Heading -->
                <a href="pages/Exhibition/Exhibition-Single.html" class="btn"
                  >View Details</a
                >
                <!-- Detail Page Button -->
              </div>
            </div>
          </div>
        </div>

        <!-- Home Slider Pagination -->
        <div class="swiper-pagination swiper-pagination1"></div>

        <!-- Home Slider Navigation arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </section>
    <!-- ==================== Home-Slider Area (End) ==================== -->

    {% block content %} {% endblock %}
    <!-- ==================== Footer Area (Start) ==================== -->
    <footer class="footer">
      <div class="box-container">
        <!-- Museum Information & Social Media Links -->
        <div class="footer-item">
          <!-- Museum Logo -->
          <a class="logo" href="{%url 'home' %}">
            <img src="assets/images/Logo/Logo.png" alt="Museum Logo" />
          </a>

          <!-- Description -->
          <p>
            Explore the wonders of our exhibitions and collections, where art
            and history come alive.
          </p>

          <!-- Contact Information -->
          <div class="info connect">
            <p><i class="fas fa-phone"></i><span>+123-456-7890</span></p>
            <p>
              <i class="fas fa-envelope"></i
              ><span class="gmail">info@mystiquemuseum.com</span>
            </p>
            <p>
              <i class="fas fa-map-marker-alt"></i><span>Mystique Museum</span>
            </p>
          </div>

          <!-- Social Media Links -->
          <div class="social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>

        <!-- Museum Services -->
        <div class="footer-item">
          <h2>Our Services</h2>
          <div class="info links">
            <p>
              <i class="fa-solid fa-building-columns"></i
              ><a href="pages/Pages/Service-Single.html">Guided Tours</a>
            </p>
            <p>
              <i class="fa-solid fa-building-columns"></i
              ><a href="pages/Pages/Service-Single.html"
                >Educational Workshops</a
              >
            </p>
            <p>
              <i class="fa-solid fa-building-columns"></i
              ><a href="pages/Pages/Service-Single.html">Special Events</a>
            </p>
            <p>
              <i class="fa-solid fa-building-columns"></i
              ><a href="pages/Pages/Service-Single.html">Virtual Tours</a>
            </p>
            <p>
              <i class="fa-solid fa-building-columns"></i
              ><a href="pages/Pages/Service-Single.html">Membership Benefits</a>
            </p>
            <p>
              <i class="fa-solid fa-building-columns"></i
              ><a href="pages/Pages/Service-Single.html"
                >Educational Resources</a
              >
            </p>
          </div>
        </div>

        <!-- Quick Links -->
        <div class="footer-item">
          <h2>Quick Links</h2>
          <div class="info links">
            <p>
              <i class="fa-solid fa-building-columns"></i
              ><a href="pages/About/About.html">About Us</a>
            </p>
            <p>
              <i class="fa-solid fa-building-columns"></i
              ><a href="pages/Exhibition/Exhibitions.html">Exhibitions</a>
            </p>
            <p>
              <i class="fa-solid fa-building-columns"></i
              ><a href="pages/Collection/Collections.html">Collections</a>
            </p>
            <p>
              <i class="fa-solid fa-building-columns"></i
              ><a href="pages/Blog/Blog-Grid.html">Blogs</a>
            </p>
            <p>
              <i class="fa-solid fa-building-columns"></i
              ><a href="pages/Shop/Shop-Grid.html">Shop</a>
            </p>
            <p>
              <i class="fa-solid fa-building-columns"></i
              ><a href="pages/Contact/Contact.html">Contact Us</a>
            </p>
          </div>
        </div>

        <!-- Newsletter Subscription -->
        <div class="footer-item">
          <h2>Newsletter</h2>
          <p>
            Stay updated and informed about upcoming exhibitions, events, and
            special offers by subscribing to our newsletter.
          </p>
          <form class="dark-form" method="post" id="newsletter-form-2">
            <div class="input-field">
              <label for="news-email-2" class="fas fa-envelope"></label>
              <input
                type="email"
                id="news-email-2"
                name="email"
                class="box"
                placeholder="Your email address"
                required
              />
            </div>
            <button type="submit" class="btn" name="submit" id="submit-2">
              Subscribe
            </button>
            <span class="alert" id="msg-2"></span>
          </form>
        </div>
      </div>

      <!-- Museum Name and Copyright -->
      <div class="content">
        <p>Designed By AS_Designs | All Rights Reserved</p>
      </div>
    </footer>
    <!-- ==================== Footer Area (End) ==================== -->

    <!-- Jquery -->
    <script src="{% static 'assets/vendors/jquery/jquery.min.js' %}"></script>

    <!-- Swiper (JS) -->
    <script src="{% static 'assets/vendors/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Magnific-Popup JS -->
    <script src="{% static 'assets/vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Isotope (JS) -->
    <script src="{% static 'assets/vendors/isotope/isotope.pkgd.min.js' %}"></script>

    <!-- Custom Script Files -->
    <script src="{% static 'assets/js/script.js' %}"></script>
    <!-- Additional website functionality -->
    <script src="{% static 'assets/js/nav-link-toggler.js' %}"></script>
    <!-- Mobile navigation link toggling -->
    <script src="{% static 'assets/js/newsletter.js' %}"></script>
    <!-- Script to handle newsletter subscription functionality -->
    <script src="{% static 'assets/js/home-slider.js' %}"></script>
    <!-- Dynamic Home Slider -->
    <script src="{% static 'assets/js/counter-up.js' %}"></script>
    <!-- Numerical counting animation -->
    <script src="{% static 'assets/js/service-slider.js' %}"></script>
    <!-- Service slider control -->
    <script src="{% static 'assets/js/portfolio.js' %}"></script>
    <!-- Projects functionality, including image filtering -->
    <script src="{% static 'assets/js/testi-slider.js' %}"></script>
    <!-- Interactive Testimonial Slider -->
    <script src="{% static 'assets/js/partner-slider.js' %}"></script>
    <!-- Interactive Partner Slider -->
  </body>
</html>
