{% extends "base2.html" %} {% block title%} Get started by Creating an acount
{%endblock%} {% load static%} {% block content %}



  <!-- ==================== Page-Title (Start) ==================== -->
 
  <!-- ==================== Page-Title (End) ==================== -->
    

     
  
   
  <!-- ==================== Reset-Password Area (Start) ==================== -->
  <section class="reset-pwd">

    <!-- Reset Password Form (Start) -->
    <form class="account-form dark-form">
      
      <h3>Forgot Password!</h3> <!-- Form Heading -->

      <input type="email" name="email" placeholder="Enter your email" id="email" class="box" required> <!-- Email Input Field -->
      <button type="submit" class="btn" name="reset-link" id="reset-link">Send Reset Link</button> <!-- Submit Button to Send Reset Link -->
      <p>Don't have an account? <a class="link" href="{% url 'get_started'%}">Register</a></p> <!-- Link to Register for Users Without an Account -->

    </form>
    <!-- Reset Password Form (End) -->

  </section>
  <!-- ==================== Reset-Password Area (End) ==================== -->


    
{% endblock %}